@page
@model OdeToFood.Pages.Restaurants.ClientRestaurantsModels
@{
    ViewData["Title"] = "ClientRestaurants";
}

<h2>Client Restaurants</h2>

<environment exclude="Development">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs/dt-1.10.23/datatables.min.css" />
    <script type="text/javascript" src="https://cdn.datatables.net/v/bs/dt-1.10.23/datatables.min.js"></script>
</environment>

@section Scripts {
    <script>
        $(function () {
            $.ajax("/api/restaurants/",
                { methodof: "get" })
                .then(function (response) {
                    console.dir(response);
                })
        })
    </script>
}